<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
</head>
<body style="background-color: #FAFAFA;">

<!--注册弹框-->
<div class="ui vertical basic segment" id="register-modal">
    <h2 class="ui teal center aligned header">
        <div class="content">
            注册
        </div>
    </h2>
    <form class="ui large form" action="{% url 'register' %}" method="post">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="envelope icon"></i>
                    <input type="text" name="email" value="{{ register_form.email.value }}" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" value="{{ register_form.username.value }}" placeholder="Username">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" value="{{ register_form.password.value }}" placeholder="Password">
                </div>
            </div>
            <button class="ui fluid large teal submit button" type="submit">注册</button>
        </div>
        {% csrf_token %}
    </form>
    <div class="ui message">{{ msg }}</div>
    <div class="ui message">{% for key, error in register_form.errors.items %}{{ error }}{% endfor %}</div>
    <div class="ui bottom attached warning message">
        <i class="icon help"></i> 已经注册？ <a href="#" id="register-modal-a">点此</a>登入。
    </div>
</div>

<!--footer-->

<div class="ui vertical basic segment">
    <div class="ui center aligned text container">
        <a class="item" href="#">
            <i class="big black icon github"></i>
        </a>
        <p>Copyright © 2017-2018 Augmented Reality.</p>
    </div>
</div>

</body>


</html>