{% extends "user-center-base.html" %}

{% block content %}
    <div class="item">
        <div class="content">
            <h3>更换昵称</h3>
            <div class="description">
                <form class="ui form">
                    <div class="inline field">
                        <label>昵称</label>
                        <input type="text" name="password" placeholder="">
                    </div>
                    <button class="ui teal button">修改</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}